* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Helvetica", sans-serif;
}
body {
  background: #eee;
  padding: 0 16px;
}

header {
  background-color: #6c5ce7;
  width: 100%;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "Arial", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}

.list h1, 
.tracking-summary h1 {
  color: #6c5ce7;
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 6px;
  text-align: center;
}

.list-table {
  border-collapse: collapse;
  font-size: 0.9em;
  width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.15);
}

.list-table thead tr {
  background-color: #6c5ce7;
  color: #fff;
  text-align: left;
  font-weight: bold;
}

.list-table th,
.list-table td {
  padding: 12px 8px;
}

.list-table tbody tr {
  border-bottom: 1px solid #ddd;
}

.list-table tbody tr:hover {
  color: #6c5ce7;
}

.list-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3ff;
}

.list-table tbody tr:last-of-type {
  border-bottom: 2px solid #6c5ce7;
}
